{% extends "base.html.twig" %}

{% block title %}Página Inicial
{% endblock %}

{% block body %}
	<h1>
		Olá
	</h1>

    <form id='form' >
</br>
        <label>Nome:</label>
        <input type="text" id="nome" value='{{ pessoa.Nome }}'>

</br>
        <label>CPF:</label>
        <input type="text" id="cpf" value='{{ pessoa.Cpf }}'>

</br>
        <label>Data de Nascimento</label>
        <input type="text" id="dataNascimento" value='{{ pessoa.DataNascimento.format('d-m-Y') }}'>

</br>
        <label>Email</label>
        <input type="text" id="email" value='{{ pessoa.Email }}'>

</br>
        <label>Telefone</label>        
        <input type="text" id="telefone" value='{{ pessoa.Telefone }}'>

</br>
        <label>Logradouro</label>        
        <input type="text" id="logradouro" value='{{ pessoa.Logradouro }}'>

</br>
        <label>Estado</label>
        <select id="estado" onchange="BuscarMunicipios()">
        <option>{{ pessoa.Estado }}</option>
        </select>

</br>
        <label>Cidade</label>
         <select id="cidade">
         <option>{{ pessoa.Cidade }}</option>
        </select>

</br>
        <input type="button" onclick="Enviar()" value="Enviar">

    </form>

    
    {% endblock %}
    {% block javascript %}

    {{ parent() }}

  <script type="text/javascript">

    window.Enviar = function() {

        var nome = $("#nome").val();
        var cpf = $("#cpf").val();
        var dataNascimento = $("#dataNascimento").val();
        var email = $("#email").val();
        var telefone = $("#telefone").val();
        var logradouro = $("#logradouro").val();
        var cidade = $("#cidade").val();
        var estado = $( "#estado option:selected" ).text();

                $.ajax({  
                    type: "POST",  
                    url: '/Update/'+{{pessoa.Id}},
                    data: {
                        nome: nome,
                        cpf: cpf,
                        email: email,
                        dataNascimento:dataNascimento,
                        telefone: telefone,
                        logradouro:logradouro,
                        cidade: cidade,
                        estado: estado,
                    },
                    success: function(response)
                    {
                        console.log(response);
                    }
                });
        }

        $(document).ready(function() {
            BuscarEstados();
        });

        function BuscarMunicipios(){
            let municipioSelect = document.querySelector('#cidade');

            var estadoId = $("#estado").val();
            $("#cidade").empty();

            fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados/"+ estadoId +"/municipios")
                .then( res => res.json())
                .then( municipios => {
                for( const municipio of municipios ) {
                    municipioSelect.innerHTML += `<option value="${municipio.nome}">${municipio.nome}</option>`
                }
                });
        }

        function BuscarEstados(){

            let ufSelect = document.querySelector('#estado');
            
            fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados?orderBy=nome")
                .then( res => res.json())
                .then( estados => {
                for( const estado of estados ) {
                    ufSelect.innerHTML += `<option value="${estado.id}">${estado.nome}</option>`
                }
                });
        }

  </script>

  {% endblock %}