{% extends "base.html.twig" %}

{% block title %}Página Inicial
{% endblock %}

{% block body %}
	<div class="container">
              <h1> Editar {{pessoa.Nome}}</h1>
        </div>

        <div class="container">
                <button type="button" onclick="DeletarPessoa({{pessoa.Id}})" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <label>Excluir Pessoa</label>
                </button>
        </div>

<div class="panel panel-default container">
        <div class="panel-body">
                <form id='form' >
                </br>
                        <label>Nome:</label>
                        <input type="text" id="nome" class="form-control" value='{{ pessoa.Nome }}'>

                </br>
                        <label>CPF:</label>
                        <input type="text" id="cpf" class="form-control" value='{{ pessoa.Cpf }}'>

                </br>
                        <label>Data de Nascimento</label>
                        <input type="text" id="dataNascimento" class="form-control" value='{{ pessoa.DataNascimento.format('d/m/Y') }}'>

                </br>
                        <label>Email</label>
                        <input type="text" id="email" class="form-control" value='{{ pessoa.Email }}'>

                </br>
                        <label>Telefone</label>        
                        <input type="text" id="telefone" class="form-control" value='{{ pessoa.Telefone }}'>

                </br>
                        <label>Logradouro</label>        
                        <input type="text" id="logradouro" class="form-control" value='{{ pessoa.Logradouro }}'>

                </br>
                        <label>Estado</label>
                        <select id="estado" class="form-control" onchange="BuscarMunicipios()">
                        <option>{{ pessoa.Estado }}</option>
                        </select>

                </br>
                        <label>Cidade</label>
                        <select id="cidade" class="form-control">
                        <option>{{ pessoa.Cidade }}</option>
                        </select>

                </br>
                        <input type="button" id="buttonEnviar" onclick="Enviar()" value="Enviar" class="btn btn-success">

                </form>
</div>
        </div>
    
    {% endblock %}
    {% block javascript %}

    {{ parent() }}

  <script type="text/javascript">

     function DeletarPessoa(id){

                swal({
                        title: "Pergunta.",
                        text: "Tem certeza que deseja excluir a pessoa?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: false,
                        confirmButtonText: "Sim",
                        cancelButtonText: "Não",
                        })
                        .then((ok) => {
                        if (ok) {
                        $.ajax({  
                        type: "POST",  
                        url: '/Delete/'+id,
                        success: function(response)
                        {
                            swal({
                            title: "Bom trabalho.",
                            text: "Pessoa excluída com sucesso.",
                            icon: "success",
                            dangerMode: false,
                            })
                            .then((ok) => {
                            if (ok) {
                                window.location.href = "/";
                            } else {
                                swal("Ok, você continuará na tela de edição dessa pessoa.");
                            }
                            });
                        }
                        });
                        }
                        });
     }   

    window.Enviar = function() {

        var nome = $("#nome").val();
        var cpf = $("#cpf").val();
        var dataNascimento = $("#dataNascimento").val();
        var email = $("#email").val();
        var telefone = $("#telefone").val();
        var logradouro = $("#logradouro").val();
        var cidade = $("#cidade").val();
        var estado = $( "#estado option:selected" ).text();

        data = new Date(dataNascimento);
        dataFormatada = data.toLocaleDateString('pt-BR', {timeZone: 'UTC'});

                $.ajax({  
                    type: "POST",  
                    url: '/Update/'+{{pessoa.Id}},
                    data: {
                        nome: nome,
                        cpf: cpf,
                        email: email,
                        dataNascimento: dataFormatada,
                        telefone: telefone,
                        logradouro:logradouro,
                        cidade: cidade,
                        estado: estado,
                    },
                    success: function(response)
                    {
                        var resposta = JSON.parse(response);
                        if(resposta.retorno.success){
                                swal({
                                        title: "Bom trabalho.",
                                        text: "Pessoa editada com sucesso, deseja retornar ao menu principal?",
                                        icon: "success",
                                        buttons: true,
                                        dangerMode: false,
                                        confirmButtonText: "Sim",
                                        cancelButtonText: "Não",
                                })
                                .then((ok) => {
                                        if (ok) {
                                                window.location.href = "/";
                                        } else {
                                                swal("Ok, você continuará na tela de edição dessa pessoa.");
                                        }
                                });

                                $("#buttonEnviar").attr("disabled", false);
                            
                            }
                    }
                });
        }

        $(document).ready(function() {
            $("#dataNascimento").mask("99/99/9999");
            $("#telefone");
            $('#telefone').mask('(00) 000000000');
            var campoCpf = $("#cpf");
            campoCpf.mask('000.000.000-00', {reverse: true});                 
            BuscarEstados();
        });

        function BuscarMunicipios(){
            let municipioSelect = document.querySelector('#cidade');

            var estadoId = $("#estado").val();
            $("#cidade").empty();

            fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados/"+ estadoId +"/municipios")
                .then( res => res.json())
                .then( municipios => {
                        for( const municipio of municipios ) {
                        municipioSelect.innerHTML += `<option value="${municipio.nome}">${municipio.nome}</option>`
                        }
                });
        }

        function BuscarEstados(){

            let ufSelect = document.querySelector('#estado');
            
            fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados?orderBy=nome")
                .then( res => res.json())
                .then( estados => {
                        for( const estado of estados ) {
                        ufSelect.innerHTML += `<option value="${estado.id}">${estado.nome}</option>`
                        }
                });
        }

  </script>

  {% endblock %}